*~
/bin/**
/obj/**
*.userprefs
/fsharp_elmo/packages/**
*/obj/**
*/*/bin/**
*/*/obj/**
*/*/*/bin/**
*/*/*/obj/**
*/*/*/*/bin/**
*/*/*/*/obj/**
/fsharp_lsm/packages/**
Cargo.lock
/lsm/target
/diag_lsm/target
/misc/target
/lsm/tmp
/bson/target
/server/target
/elmo/target
/rust-sqlite/target
/storage/sqlite3/target
/storage/lsm/target
